:root {
  --accent: #3d2c5a;
  --light-blue: #eaf6ff;
  --text-light: #fff;
}

.overlay {
  position: fixed;
  inset: 0;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  height: 100vh;
  /* background: rgba(0, 0, 0, 0.4); опционально: затемнение */
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  /* padding: 2rem 1rem; */
  /* box-sizing: border-box; */
}

.title {
  font-weight: bold;
  font-size: 5rem;
  color: var(--accent);
  margin-bottom: 1rem;
}

.next {
  /* margin-bottom: 2rem; */
  padding: 1.2rem 2.8rem;
  font-size: 2rem;
  background-color: #e8efb9;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  color: #3d2c5a;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.next:hover {
  transform: translateY(-5px);
  background-color: #d8e0a0;
}

.board {
  background-color: white;
  border-radius: 24px 24px 0 0;
  padding: 2rem 8rem;
  width: 65%;
  height: 80%;
  /* max-width: 700px; */
  box-shadow: 0 -8px 20px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: auto;
  overflow-y: auto;
}

.row {
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem 1.5rem;
  font-size: 2rem;
  font-weight: 500;
  color: var(--accent);
}

.user-info {
  background-color: #BFD7FF;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2rem 3rem;
  font-size: 2rem;
  font-weight: 500;
  color: var(--accent);
}

.place {
  font-weight: bold;
  font-size: 2rem;
  margin: 0 2rem;
  width: 2rem;
  text-align: center;
}

.name {
  flex-grow: 1;
}

.score {
  margin-right: 1rem;
}

.arrow {
  width: 30px;
  height: 30px;
}
