:root {
  --orange: #D38E5A;
  --dark: #2A2B2B;
  --bage: #F9F3EB;
}

.final-page-container {
  
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.final-title {
  font-size: 3rem;
  color: white;
  font-family: 'Jua', 'Arial Rounded MT Bold', sans-serif;
  margin-bottom: 5vh;
}

.final-primary-button {
  margin-top: 2rem;
  width: 40vw; /* Match .podium width */
  background-color: var(--dark);
  color: var(--bage);
  border: none;
  padding: 1rem 2rem;
  border-radius: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.final-primary-button:hover {
  background-color: #1f1f1f;
}

.podium {
    background-color: var(--bage);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 2vw;
    height: 30vh;
    width: 40vw; /* Add this line */
}

.podium-block {
  background-color: var(--dark);
  color: white;
  border-radius: 12px;
  padding: 1rem;
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 1.2rem;
  width: 8vw;
  border: 4px solid var(--dark);
}

/* Подиумные позиции */
.position-1 {
  height: 18vh;
  background-color: gold;
}
.position-2 {
  height: 14vh;
  background-color: silver;
}
.position-3 {
  height: 10vh;
  background-color: #cd7f32; /* бронзовый цвет */
}

.player-name {
  margin-bottom: 0.5rem;
}
