:root {
    --orange: #D38E5A;
    --bage: #F9F3EB;
    --dark: #2A2B2B;
    --btn-hover: #4f4d4d;
    --light-gray: #C6BDB3;
    --gray: #5D5C5D;
    --accent: #392B58;
    --btn: #E5E8B6;
    --btn-hover: #E2E88B;    /* background-color: var(--orange); */
    --text-light: #F9F3EB;
    --light-blue: #BFD7FF;
    --blue: #8AB3F2;
}

.jua-regular {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
    font-family: Jua;
}

@media (max-width: 768px) {
  /* Убрать правую часть (с изображением) на всех страницах */
  .homepage-main-content .right-side,
  .joingame-main-content .right-side,
  .playgame-main-content .right-side {
    display: none;
  }

  .homepage-main-content,
  .joingame-main-content,
  .playgame-main-content {
    flex-direction: column;
    height: auto;
    padding: 1rem;
  }

  .homepage-main-content .left-side,
  .joingame-main-content .left-side {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
  }

  .homepage-main-content .left-side .title,
  .joingame-main-content .left-side .title,
  .playgame-main-content .title {
    margin: 2rem 0;
    text-align: center;
  }

  .homepage-main-content .title p,
  .homepage-main-content .title h1,
  .joingame-main-content .title h1,
  .playgame-main-content .title h1 {
    font-size: 2.5rem;
  }

  .homepage-main-content .button-group,
  .joingame-main-content .button-group,
  .playgame-main-content .button-group {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .homepage-main-content .button-group button,
  .joingame-main-content .button-group button,
  .playgame-main-content .button-group button {
    font-size: 1.2rem;
    width: 80%;
    padding: 1rem;
    margin-bottom: 1rem;
  }

  .joingame-main-content .code-input,
  .playgame-main-content .code-input {
    width: 100%;
    font-size: 1.5rem;
    padding: 0.8rem;
  }
}
