:root {
  --orange: #D38E5A;
  --bage: #F9F3EB;
  --dark: #2A2B2B;
  --light-gray: #C6BDB3;
  --gray: #5D5C5D;
}

.wait-admin-container {
  background-color: var(--orange);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wait-admin-panel {
    padding: 4vw;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.wait-admin-panel h1 {
  font-size: 48px;
  color: var(--bage);
  margin-bottom: 3vw;
}

.admin-button-group {
  display: flex;
  justify-content: center;
  gap: 2vw;
  margin-bottom: 3vw;
}

.admin-button-group button {
  background-color: var(--dark);
  color: var(--bage);
  font-size: 24px;
  padding: 1vw 2vw;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s;
}

.admin-button-group button:hover {
  transform: scale(1.05);
  background-color: var(--gray);
}

.players-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    /*grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));*/
    gap: 1vw;
    max-width: calc(6 * 150px + 5 * 1vw);
    width: 100%;
}




.player-box {
  background-color: var(--light-gray);
  color: var(--dark);
  padding: 0.8vw 1.2vw;
  border-radius: 10px;

  /*font-size: 14px;*/
  min-width: 100px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  width: 14.6%; /* Adjusted for 5 players in a row */
  align-items: center;
  gap: 10px;
  transition: transform 0.2s ease;
  position: relative;
}

.player-box:hover {
  transform: scale(1.05);
}

.player-box span {
  font-size: clamp(10px, 20px - (var(--name-length) - 7) * 0.7px, 20px);
  white-space: nowrap;
  /*overflow: hidden;*/
  text-overflow: ellipsis;
  flex-grow: 1;
  max-width: 100%;
}

.kick-button {
  position: absolute;
  right: 5px;        /* Отступ от правого края */
  background: transparent;
  border: none;
  color: var(--bage);
  font-size: 18px;
  cursor: pointer;
  transition: color 0.2s ease;
  flex-shrink: 0;     /* Запрет на сжатие */
}

.kick-button:hover {
  color: red;
  transform: scale(1.2);
}

