.wait-player-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5vh 5vw;
  box-sizing: border-box;
  gap: 2vw;
}

.player-left-side {
  height: 70vh;
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
}

.waiting-title {
  font-size: 3.5rem;
  color: var(--bage);
  margin-bottom: 3vh;
}

.waiting-title .highlight {
  color: var(--accent);
  font-weight: bold;
}

.players-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
  flex: 1;
  max-width: 70%;
}

.player-card {
  background-color: var(--light-blue);
  /* text-align: center; */
  color: var(--accent);
  padding: 0.8vw 1.2vw;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 60px;
  transition: transform 0.2s ease;
  position: relative;
  font-size: 1.5rem;
  transition: all 0.2s ease-in-out;
}

.player-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.player-right-side {
  flex: 1;
  background-color: var(--text-light);
  border-radius: 30px;
  padding: 3vh 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  max-height: 300px;
  min-width: 250px;
}

.session-code {
  font-size: 3rem;
  font-weight: 800;
  color: var(--accent);
  margin-bottom: 1vh;
}

.session-count {
  font-size: 2rem;
  margin-bottom: 4vh;
  color: var(--accent);
}

.leave-btn {
  background-color: var(--btn);
  width: 100%;
  color: var(--accent);
  font-size: 2rem;
  padding: 0.8vw 2vw;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s;
}

.leave-btn:hover {
  transform: scale(1.05);
  background-color: var(--btn-hover);
}


@media (max-width: 768px) {
  .wait-player-wrapper {
    flex-direction: column;
    padding: 4vh 4vw;
    align-items: center;
    gap: 4vh;
  }

  .player-left-side {
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
  }

  .waiting-title {
    font-size: 8vw;
    margin-bottom: 4vh;
  }

  .players-grid {
    margin:0 4vw ;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 карточки в строку */
    gap: 3vw 4vw;
    max-width: 100%;
    width: 98%;
    justify-items: center;
  }

  .player-card {
    min-width: auto;
    width: 100%;
    font-size: 8vw;
    max-height: 60px;
    /* padding: 2vh 2vw; */
    text-align: center;
    max-height: none;
  }

  .player-right-side {
    width: 90vw;
    min-width: unset;
    max-height: none;
    margin-top: 1vh;
    padding: 1vh;
    flex-direction: column;
    gap: 1vh;
  }

  .session-code {
    font-size: 10vw;
  }

  .session-count {
    font-size: 4.5vw;
  }

  .leave-btn {
    font-size: 5vw;
    padding: 4vw;
    width: 100%;
  }
}
