# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# React Native workspace file

# dependencies
front/app/node_modules
front/app/.pnp
front/app/.pnp.js
front/app/package-lock.json

# testing
front/app/coverage

# production
front/app/build

# misc
front/app/.DS_Store
front/app/.env.local
front/app/.env.development.local
front/app/.env.test.local
front/app/.env.production.local

front/app/npm-debug.log*
front/app/yarn-debug.log*
front/app/yarn-error.log*


# env file
.env

# Editor/IDE
# .idea/
# .vscode/
